.login{

  width: 100vw;
  height: 100vh;

  .logo, .input{
    width: 100%;
  }

  .input{
    margin: 0.5em 0;

    &.field > * {
      background: #ffffff;
    }

    .icon{
      position: absolute;
      right: 0.5em;
    }
  }

  .create-account{
    display: block;
    text-align: center;
    margin: 1em;
    text-transform: uppercase;
  }
}